uvicorn
fastapi
sqlalchemy
pydantic
psycopg2-binary
python-dotenv
celery[redis]
redis
watchdog  # dev: auto-restart celery worker on code changes (watchmedo)

beautifulsoup4
pysocks
google-generativeai
sse-starlette
bs4
requests
streamlit
langchain-openai
langchain-ollama
backports.tarfile
langchain-anthropic
langchain_community
langchain_google_genai
