# FortiGate API Credentials
FGT_HOST=10.10.10.1
FGT_TOKEN=your_fortigate_api_token
FGT_VDOM=root

# Palo Alto API Credentials
PA_HOST=10.10.10.2
PA_USERNAME=admin
PA_PASSWORD=your_password
PA_API_KEY=your_generated_api_key
PA_VSYS=vsys1

# Global Settings
DEBUG_MODE=True
OUTPUT_DIR=../../output
POLL_INTERVAL_SECONDS=3600
